main {
  padding: 30px 30px 10px;
}

.add-ingredient {
  display: flex;
  justify-content: center;
  gap: 12px;
  height: 38px;
}

.add-ingredient input {
  border-radius: 6px;
  border: 1px solid #d1d5db;
  padding: 9px 13px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  flex-grow: 1;
  min-width: 150px;
  max-width: 400px;
}

.add-ingredient button {
  font-family: Inter, sans-serif;
  border-radius: 6px;
  border: none;
  border: none;
  background-color: #141413;
  color: #fafafb;
  width: 150px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

.add-ingredient button::before {
  content: "+";
  margin-left: 5px;
}
